.svn
/TEMP
/TestResults
/vini_app/.svn
/vini_app/bin
/vini_app/obj/*
/vini_app/obj/Debug/*
/vini_app/obj/Release/*
/vini_DB/bin
/vini_DB/obj
/vini_DB/.svn
/vini_internet/.svn
/vini_internet/bin
/vini_internet/obj
/vini_internet/exportinternet
/vini_service/.svn
/vini_service/bin
/vini_service/obj
/vini_test/.svn
/vini_test/bin
/vini_test/obj
/www
/*.zip
/vini_app/obj
/.svn
.vs
obj
