<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="vini_DB.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
 <connectionStrings>
  <add name="vini_DB.My.MySettings.ConnectString" connectionString="Provider=SQLOLEDB.1;Data Source=localhost\SQLEXPRESS;Initial Catalog=vnc5PRD;Persist Security Info=True;User ID=vinicom;Password=vinicom"
   providerName="System.Data.OleDb" />
 </connectionStrings>
 <Export>
		<Entete>
			<add key="NOMBRE" value="6"/>
			<CHAMPS1>
				<add key="GUILLEMETS" value="N"/>
				<add key="VALEUR" value="*"/>
			</CHAMPS1>
			<CHAMPS2>
				<add key="GUILLEMETS" value="N"/>
				<add key="VALEUR" value="30"/>
			</CHAMPS2>
			<CHAMPS3>
				<add key="GUILLEMETS" value="O"/>
				<add key="VALEUR" value="ATTRIBUT"/>
				<add key="ATTRIBUT" value="FTRP_CODE"/>
			</CHAMPS3>
			
		</Entete>
	</Export>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
 <applicationSettings>
  <vini_DB.My.MySettings>
   <setting name="CODEDEPOTQUADRA" serializeAs="String">
    <value>2</value>
   </setting>
  </vini_DB.My.MySettings>
 </applicationSettings>
</configuration>
