<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
 <connectionStrings>
  <add name="vini_DB.My.MySettings.ConnectString" connectionString="Provider=SQLOLEDB.1;Data Source=localhost\SQLEXPRESS;Initial Catalog=vnc5;Persist Security Info=True;User ID=vinicom;Password=vinicom"
   providerName="System.Data.OleDb" />
 </connectionStrings>
 <Export>
		<Entete>
			<add key="NOMBRE" value="6"/>
			<CHAMPS1>
				<add key="GUILLEMETS" value="N"/>
				<add key="VALEUR" value="*"/>
			</CHAMPS1>
			<CHAMPS2>
				<add key="GUILLEMETS" value="N"/>
				<add key="VALEUR" value="30"/>
			</CHAMPS2>
			<CHAMPS3>
				<add key="GUILLEMETS" value="O"/>
				<add key="VALEUR" value="ATTRIBUT"/>
				<add key="ATTRIBUT" value="FTRP_CODE"/>
			</CHAMPS3>
			
		</Entete>
	</Export>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
