<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>vncModule</name>
	<displayName><![CDATA[VncModule]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[divers modules pour vinicom]]></description>
	<author><![CDATA[Marc Collin]]></author>
	<tab><![CDATA[export]]></tab>
	<confirmUninstall>Êtes-vous certain de vouloir supprimer les informations de ce module ?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>