<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="vini_app.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
    <section name="vini_app.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <connectionStrings>
  <add name="vini_DB.My.MySettings.Setting" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=vnc5;Persist Security Info=True;User ID=vinicom;Password=vinicom"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<!--   Les paramètres de l'application utilisateur et de propriété configurée se placent ici.-->
		<!--   Exemple : <add key="settingName" value="settingValue"/> -->

		<add key="FAX_PRECOMMANDE_BSENDCOVERPAGE" value="True"/>
		<add key="FAX_PRECOMMANDE_SUBJECT" value="Bon de Commande pré-établie"/>
		<add key="FAX_PRECOMMANDE_PATH" value="./FAX/PCMD/"/>
		<add key="FAX_PRECOMMANDE_NOTES" value=""/>

		<add key="FAX_STK_BSENDCOVERPAGE" value="True"/>
		<add key="FAX_STK_SUBJECT" value="Etat du stock"/>
		<add key="FAX_STK_PATH" value="./FAX/STK/"/>
		<add key="FAX_STK_NOTES" value=""/>

		<add key="FAX_DETAILCOMMANDE_PATH" value="./FAX/DETCMD/"/>
		<add key="FAX_DETAILCOMMANDE_SUBJECT" value="Détail de commande à valider"/>
		<add key="FAX_DETAILCOMMANDE_BSENDCOVERPAGE" value="True"/>
		<add key="FAX_DETAILCOMMANDE_NOTES" value=""/>

		<add key="FAX_BL_PATH" value="./FAX/BL/"/>
		<add key="FAX_BL_SUBJECT" value="Bon de Livraison"/>
		<add key="FAX_BL_BSENDCOVERPAGE" value="False"/>
		<add key="FAX_BL_NOTES" value=""/>

		<add key="FAX_BA_PATH" value="./FAX/BA/"/>
		<add key="FAX_BA_SUBJECT" value="Demande d'approvisionnement"/>
		<add key="FAX_BA_BSENDCOVERPAGE" value="False"/>
		<add key="FAX_BA_NOTES" value="Nous vous prions de bien vouloir trouver ci-après notre demande d'approvisionnement.&#xD;&#xA;		Merci de bien vouloir nous confirmer par retour de télécopie la date de disponibilité de la marchandise afin que nous affrêtions notre transporteur.&#xD;&#xA;		Meilleures salutations."

                          />

		<add key="FAX_BLBA_PATH" value="./FAX/BLBA/"/>
		<add key="FAX_BLBA_SUBJECT" value="DEmande d'enlevement de marchandise"/>
		<add key="FAX_BLBA_BSENDCOVERPAGE" value="True"/>
		<add key="FAX_BLBA_NOTES" value="Merci de bien vouloir effectuer l'enlévement suivant."/>

		<add key="FAX_SCMD_PATH" value="./FAX/SCMD/"/>
		<add key="FAX_SCMD_SUBJECT" value="Commande Client"/>
		<add key="FAX_SCMD_BSENDCOVERPAGE" value="False"/>
		<add key="FAX_SCMD_NOTES" value=""/>

		<add key="FAX_NOM_INTERLOCUTEUR" value="Cécile Mathurin"/>
		<add key="FAX_TEL_INTERLOCUTEUR" value="0299688912"/>
		
		<add key="FAX_JAL_PATH" value="./FAX/JRN_ANN_LIV/"/>
		<add key="FAX_JAL_SUBJECT" value="Journal d'annonce de livraison"/>
		<add key="FAX_JAL_BSENDCOVERPAGE" value="False"/>
		<add key="FAX_JAL_NOTES" value=""/>
		
		<add key="FAX_JAA_PATH" value="./FAX/JRN_ANN_APPRO/"/>
		<add key="FAX_JAA_SUBJECT" value="Journal d'annonce d'approvisionnement"/>
		<add key="FAX_JAA_BSENDCOVERPAGE" value="False"/>
		<add key="FAX_JAA_NOTES" value=""/>

		<add key="RECHERCHEDB_CLT_COLS" value="5"/>
		<add key="RECHERCHEDB_CLT_COL0" value="1000"/>
		<add key="RECHERCHEDB_CLT_COL1" value="2500"/>
		<add key="RECHERCHEDB_CLT_COL2" value="1000"/>
		<add key="RECHERCHEDB_CLT_COL3" value="2500"/>
		<add key="RECHERCHEDB_CLT_COL4" value="0"/>

		<add key="RECHERCHEDB_FRN_COLS" value="5"/>
		<add key="RECHERCHEDB_FRN_COL0" value="500"/>
		<add key="RECHERCHEDB_FRN_COL1" value="2500"/>
		<add key="RECHERCHEDB_FRN_COL2" value="1500"/>
		<add key="RECHERCHEDB_FRN_COL3" value="2500"/>
		<add key="RECHERCHEDB_FRN_COL4" value="0"/>

		<add key="RECHERCHEDB_PRD_COLS" value="6"/>
		<add key="RECHERCHEDB_PRD_COL0" value="800"/>
		<add key="RECHERCHEDB_PRD_COL1" value="3850"/>
		<add key="RECHERCHEDB_PRD_COL2" value="500"/>
		<add key="RECHERCHEDB_PRD_COL3" value="750"/>
		<add key="RECHERCHEDB_PRD_COL4" value="750"/>
		<add key="RECHERCHEDB_PRD_COL5" value="0"/>

		<add key="RECHERCHEDB_CMDCLT_COLS" value="6"/>
		<add key="RECHERCHEDB_CMDCLT_COL0" value="750"/>
		<add key="RECHERCHEDB_CMDCLT_COL1" value="3000"/>
		<add key="RECHERCHEDB_CMDCLT_COL2" value="1000"/>
		<add key="RECHERCHEDB_CMDCLT_COL3" value="1000"/>
		<add key="RECHERCHEDB_CMDCLT_COL4" value="1000"/>
		<add key="RECHERCHEDB_CMDCLT_COL5" value="0"/>

		<add key="RECHERCHEDB_BA_COLS" value="6"/>
		<add key="RECHERCHEDB_BA_COL0" value="750"/>
		<add key="RECHERCHEDB_BA_COL1" value="3000"/>
		<add key="RECHERCHEDB_BA_COL2" value="1000"/>
		<add key="RECHERCHEDB_BA_COL3" value="1000"/>
		<add key="RECHERCHEDB_BA_COL4" value="1000"/>
		<add key="RECHERCHEDB_BA_COL5" value="0"/>

		<add key="RECHERCHEDB_FCTCOM_COLS" value="6"/>
		<add key="RECHERCHEDB_FCTCOM_COL0" value="750"/>
		<add key="RECHERCHEDB_FCTCOM_COL1" value="3000"/>
		<add key="RECHERCHEDB_FCTCOM_COL2" value="1000"/>
		<add key="RECHERCHEDB_FCTCOM_COL3" value="1000"/>
		<add key="RECHERCHEDB_FCTCOM_COL4" value="1000"/>
		<add key="RECHERCHEDB_FCTCOM_COL5" value="0"/>

		<!-- FACTCOM DANS geneFactCom -->
		<add key="RECHERCHEDB_FCTCOM2_COLS" value="7"/>
		<add key="RECHERCHEDB_FCTCOM2_COL0" value="1000"/>
		<add key="RECHERCHEDB_FCTCOM2_COL1" value="3500"/>
		<add key="RECHERCHEDB_FCTCOM2_COL2" value="1250"/>
		<add key="RECHERCHEDB_FCTCOM2_COL3" value="1250"/>
   <add key="RECHERCHEDB_FCTCOM2_COL4" value="1250"/>
   <add key="RECHERCHEDB_FCTCOM2_COL5" value="1250"/>
   <add key="RECHERCHEDB_FCTCOM2_COL6" value="0"/>

		<!-- FACTCOM DANS ReglmentFactCom -->
		<add key="RECHERCHEDB_FCTCOM3_COLS" value="6"/>
		<add key="RECHERCHEDB_FCTCOM3_COL0" value="750"/>
		<add key="RECHERCHEDB_FCTCOM3_COL1" value="3000"/>
		<add key="RECHERCHEDB_FCTCOM3_COL2" value="1000"/>
		<add key="RECHERCHEDB_FCTCOM3_COL3" value="1000"/>
		<add key="RECHERCHEDB_FCTCOM3_COL4" value="1000"/>
		<add key="RECHERCHEDB_FCTCOM3_COL5" value="0"/>
		
		<!--   SOUS COMMANDE - short Resume -->
		<add key="RECHERCHEDB_SCMD1_COLS" value="6"/>
		<add key="RECHERCHEDB_SCMD1_COL0" value="500"/> <!-- code -->
		<add key="RECHERCHEDB_SCMD1_COL1" value="2500"/> <!-- RS -->
		<add key="RECHERCHEDB_SCMD1_COL2" value="1000"/> <!-- date -->
		<add key="RECHERCHEDB_SCMD1_COL3" value="1000"/><!-- Total HT -->
		<add key="RECHERCHEDB_SCMD1_COL4" value="1000"/> <!-- Etat -->
		<add key="RECHERCHEDB_SCMD1_COL5" value="0"/>


		<!--   SOUS COMMANDE - short ResumeClient -->
		<add key="RECHERCHEDB_SCMD2_COLS" value="7"/>
		<add key="RECHERCHEDB_SCMD2_COL0" value="1000"/> <!-- code -->
		<add key="RECHERCHEDB_SCMD2_COL1" value="500"/> <!-- code Fourn -->
		<add key="RECHERCHEDB_SCMD2_COL2" value="2500"/> <!-- RS client -->
		<add key="RECHERCHEDB_SCMD2_COL3" value="1000"/> <!-- date -->
		<add key="RECHERCHEDB_SCMD2_COL4" value="1000"/> <!-- Total HT -->
		<add key="RECHERCHEDB_SCMD2_COL5" value="1000"/> <!-- Etat -->
		<add key="RECHERCHEDB_SCMD2_COL6" value="0"/>

		<!--   SOUS COMMANDE - short ResumeFactCom -->
		<add key="RECHERCHEDB_SCMD3_COLS" value="6"/>
		<add key="RECHERCHEDB_SCMD3_COL0" value="1500"/> <!-- refFACTFOURN -->
		<add key="RECHERCHEDB_SCMD3_COL1" value="500"/> <!-- code Fourn -->
		<add key="RECHERCHEDB_SCMD3_COL2" value="2500"/> <!-- RS client -->
		<add key="RECHERCHEDB_SCMD3_COL3" value="1000"/> <!-- date -->
		<add key="RECHERCHEDB_SCMD3_COL4" value="1000"/> <!-- Montant Commission -->
		<add key="RECHERCHEDB_SCMD3_COL5" value="0"/>

		<!--   SOUS COMMANDE - dansGestion des commandes -->
		<add key="RECHERCHEDB_SCMD4_COLS" value="6"/>
		<add key="RECHERCHEDB_SCMD4_COL0" value="750"/> <!-- code -->
		<add key="RECHERCHEDB_SCMD4_COL1" value="3000"/> <!-- RS -->
		<add key="RECHERCHEDB_SCMD4_COL2" value="1000"/> <!-- date -->
		<add key="RECHERCHEDB_SCMD4_COL3" value="1000"/><!-- Total HT -->
		<add key="RECHERCHEDB_SCMD4_COL4" value="1000"/> <!-- Etat -->
		<add key="RECHERCHEDB_SCMD4_COL5" value="0"/>

		<!--   SOUS COMMANDE - dansProvionnement des commissions -->
		<add key="RECHERCHEDB_SCMD_SRFOURNISSEUR_COLS" value="9"/>
		<add key="RECHERCHEDB_SCMD_SRFOURNISSEUR_COL0" value="1000"/> <!-- RefFactFourn -->
		<add key="RECHERCHEDB_SCMD_SRFOURNISSEUR_COL1" value="1000"/> <!-- DateFactFourn -->
		<add key="RECHERCHEDB_SCMD_SRFOURNISSEUR_COL2" value="3000"/> <!-- rsClient -->
		<add key="RECHERCHEDB_SCMD_SRFOURNISSEUR_COL3" value="1000"/><!-- Total HT -->
		<add key="RECHERCHEDB_SCMD_SRFOURNISSEUR_COL4" value="850"/> <!-- Code -->
		<add key="RECHERCHEDB_SCMD_SRFOURNISSEUR_COL5" value="1000"/> <!-- date SCMD -->
		<add key="RECHERCHEDB_SCMD_SRFOURNISSEUR_COL6" value="650"/> <!-- Code Fourn -->
		<add key="RECHERCHEDB_SCMD_SRFOURNISSEUR_COL7" value="1000"/> <!-- Etat -->
		<add key="RECHERCHEDB_SCMD_SRFOURNISSEUR_COL8" value="0"/> <!-- date SCMD -->

		<!--   COMMANDE TRP- shortResumeTRP -->
		<add key="LISTCMDTRP_COLS" value="6"/>
		<add key="LISTCMDTRP_COL0" value="500"/> <!-- code Commande-->
		<add key="LISTCMDTRP_COL1" value="500"/> <!-- code Client-->
		<add key="LISTCMDTRP_COL2" value="1500"/> <!-- rs Client-->
		<add key="LISTCMDTRP_COL3" value="1000"/> <!-- date Livraison -->
		<add key="LISTCMDTRP_COL4" value="1000"/> <!-- MontantTransport -->
		<add key="LISTCMDTRP_COL5" value="0"/>
		
		<!-- RECHERCHEDB - Liste des factures de transport -->
		<add key="RECHERCHEDB_FCTTRP_COLS" value="6"/>
		<add key="RECHERCHEDB_FCTTRP_COL0" value="750"/>
		<add key="RECHERCHEDB_FCTTRP_COL1" value="3000"/>
		<add key="RECHERCHEDB_FCTTRP_COL2" value="1000"/>
		<add key="RECHERCHEDB_FCTTRP_COL3" value="1000"/>
		<add key="RECHERCHEDB_FCTTRP_COL4" value="1000"/>
		<add key="RECHERCHEDB_FCTTRP_COL5" value="0"/>

   <!-- RECHERCHEDB - Liste des factures de transport -->
   <add key="RECHERCHEDB_FCTCOL_COLS" value="6"/>
   <add key="RECHERCHEDB_FCTCOL_COL0" value="750"/>
   <add key="RECHERCHEDB_FCTCOL_COL1" value="3000"/>
   <add key="RECHERCHEDB_FCTCOL_COL2" value="1000"/>
   <add key="RECHERCHEDB_FCTCOL_COL3" value="1000"/>
   <add key="RECHERCHEDB_FCTCOL_COL4" value="1000"/>
   <add key="RECHERCHEDB_FCTCOL_COL5" value="0"/>

   <!-- LSTFACTCOL DANS geneFactCol -->
   <add key="GENEFACTCOL_LSTFACTCOL_COLS" value="6"/>
   <add key="GENEFACTCOL_LSTFACTCOL_COL0" value="1000"/>
   <add key="GENEFACTCOL_LSTFACTCOL_COL1" value="3500"/>
   <add key="GENEFACTCOL_LSTFACTCOL_COL2" value="1250"/>
   <add key="GENEFACTCOL_LSTFACTCOL_COL3" value="1250"/>
   <add key="GENEFACTCOL_LSTFACTCOL_COL4" value="1250"/>
   <add key="GENEFACTCOL_LSTFACTCOL_COL5" value="0"/>

   <!-- Parametrage de l'export Maxima -->
		<add key="EXPORT_ENTETE_NOMBRE" value="28"/>
		<add key="EXPORT_ENTETE_CHAMPS1_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS1_VALEUR" value="*"/>
		
		<add key="EXPORT_ENTETE_CHAMPS2_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS2_VALEUR" value="30"/>
		
		<add key="EXPORT_ENTETE_CHAMPS3_GUILLEMETS" value="O"/>
		<add key="EXPORT_ENTETE_CHAMPS3_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ENTETE_CHAMPS3_ATTRIBUT" value="FTRP_CODE"/>
		
		<add key="EXPORT_ENTETE_CHAMPS4_GUILLEMETS" value="O"/>
		<add key="EXPORT_ENTETE_CHAMPS4_VALEUR" value=""/>

		<add key="EXPORT_ENTETE_CHAMPS5_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS5_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ENTETE_CHAMPS5_ATTRIBUT" value="FTRP_DATE"/>

		<add key="EXPORT_ENTETE_CHAMPS6_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS6_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ENTETE_CHAMPS6_ATTRIBUT" value="FTRP_DATE"/>

		<add key="EXPORT_ENTETE_CHAMPS7_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS7_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ENTETE_CHAMPS7_ATTRIBUT" value="FTRP_DATE"/>

		<add key="EXPORT_ENTETE_CHAMPS8_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS8_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ENTETE_CHAMPS8_ATTRIBUT" value="FTRP_DATE"/>

		<add key="EXPORT_ENTETE_CHAMPS9_GUILLEMETS" value="O"/>
		<add key="EXPORT_ENTETE_CHAMPS9_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ENTETE_CHAMPS9_ATTRIBUT" value="CLT_CODE"/>

		<add key="EXPORT_ENTETE_CHAMPS10_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS10_VALEUR" value=""/>

		<add key="EXPORT_ENTETE_CHAMPS11_GUILLEMETS" value="O"/>
		<add key="EXPORT_ENTETE_CHAMPS11_VALEUR" value="Dépôt Principal"/>

		<add key="EXPORT_ENTETE_CHAMPS12_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS12_VALEUR" value="0"/>
		
		<add key="EXPORT_ENTETE_CHAMPS13_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS13_VALEUR" value=""/>
		
		<add key="EXPORT_ENTETE_CHAMPS14_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS14_VALEUR" value=""/>
		
		<add key="EXPORT_ENTETE_CHAMPS15_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS15_VALEUR" value=""/>
		
		<add key="EXPORT_ENTETE_CHAMPS16_GUILLEMETS" value="O"/>
		<add key="EXPORT_ENTETE_CHAMPS16_VALEUR" value=""/>
		
		<add key="EXPORT_ENTETE_CHAMPS17_GUILLEMETS" value="O"/>
		<add key="EXPORT_ENTETE_CHAMPS17_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ENTETE_CHAMPS17_ATTRIBUT" value="LIB_MODEREGLEMENT"/>
		
		<add key="EXPORT_ENTETE_CHAMPS18_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS18_VALEUR" value="0"/>
		
		<add key="EXPORT_ENTETE_CHAMPS19_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS19_VALEUR" value="0"/>
		
		<add key="EXPORT_ENTETE_CHAMPS20_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS20_VALEUR" value="0"/>

		<add key="EXPORT_ENTETE_CHAMPS21_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS21_VALEUR" value="0"/>

		<add key="EXPORT_ENTETE_CHAMPS22_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS22_VALEUR" value=""/>

		<add key="EXPORT_ENTETE_CHAMPS23_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS23_VALEUR" value=""/>

		<add key="EXPORT_ENTETE_CHAMPS24_GUILLEMETS" value="O"/>
		<add key="EXPORT_ENTETE_CHAMPS24_VALEUR" value=""/>

		<add key="EXPORT_ENTETE_CHAMPS25_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS25_VALEUR" value=""/>

		<add key="EXPORT_ENTETE_CHAMPS26_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS26_VALEUR" value="N"/>

		<add key="EXPORT_ENTETE_CHAMPS27_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS27_VALEUR" value=""/>
		
		<add key="EXPORT_ENTETE_CHAMPS28_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS28_VALEUR" value=""/>
		
		<add key="EXPORT_ENTETE_CHAMPS29_GUILLEMETS" value="N"/>
		<add key="EXPORT_ENTETE_CHAMPS29_VALEUR" value="1"/>

		<add key="EXPORT_LIGNE_NOMBRE" value="19"/>
		<add key="EXPORT_LIGNE_CHAMPS1_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS1_VALEUR" value="A"/>
		
		<add key="EXPORT_LIGNE_CHAMPS2_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS2_VALEUR" value="0"/>
		
		<add key="EXPORT_LIGNE_CHAMPS3_GUILLEMETS" value="O"/>
		<add key="EXPORT_LIGNE_CHAMPS3_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_LIGNE_CHAMPS3_ATTRIBUT" value="LGTRP_CODEMAXIMA"/>

		<add key="EXPORT_LIGNE_CHAMPS4_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS4_VALEUR" value="0"/>

		<add key="EXPORT_LIGNE_CHAMPS5_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS5_VALEUR" value=""/>

		<add key="EXPORT_LIGNE_CHAMPS6_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS6_VALEUR" value="0"/>

		<add key="EXPORT_LIGNE_CHAMPS7_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS7_VALEUR" value="1"/>

		<add key="EXPORT_LIGNE_CHAMPS8_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS8_VALEUR" value="0"/>
		<add key="EXPORT_LIGNE_CHAMPS9_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS9_VALEUR" value="0"/>
		<add key="EXPORT_LIGNE_CHAMPS10_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS10_VALEUR" value="0"/>
		<add key="EXPORT_LIGNE_CHAMPS11_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS11_VALEUR" value="0"/>
		
		<add key="EXPORT_LIGNE_CHAMPS12_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS12_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_LIGNE_CHAMPS12_ATTRIBUT" value="LGTRP_MT_HT"/>

		<add key="EXPORT_LIGNE_CHAMPS13_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS13_VALEUR" value="0"/>

		<add key="EXPORT_LIGNE_CHAMPS14_GUILLEMETS" value="O"/>
		<add key="EXPORT_LIGNE_CHAMPS14_VALEUR" value="Taux Normal"/>

		<add key="EXPORT_LIGNE_CHAMPS15_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS15_VALEUR" value=""/>
		
		<add key="EXPORT_LIGNE_CHAMPS16_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS16_VALEUR" value=""/>
		<add key="EXPORT_LIGNE_CHAMPS17_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS17_VALEUR" value="0"/>
		<add key="EXPORT_LIGNE_CHAMPS18_GUILLEMETS" value="N"/>
		<add key="EXPORT_LIGNE_CHAMPS18_VALEUR" value="0"/>

		<add key="EXPORT_LIGNE_CHAMPS19_GUILLEMETS" value="O"/>
		<add key="EXPORT_LIGNE_CHAMPS19_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_LIGNE_CHAMPS19_ATTRIBUT" value="LGTRP_RESUME"/>

		<add key="EXPORT_ADRLIV_NOMBRE" value="8"/>
		<add key="EXPORT_ADRLIV_CHAMPS1_GUILLEMETS" value="N"/>
		<add key="EXPORT_ADRLIV_CHAMPS1_VALEUR" value="^"/>
		<add key="EXPORT_ADRLIV_CHAMPS2_GUILLEMETS" value="N"/>
		<add key="EXPORT_ADRLIV_CHAMPS2_VALEUR" value="0"/>
		<add key="EXPORT_ADRLIV_CHAMPS3_GUILLEMETS" value="O"/>
		<add key="EXPORT_ADRLIV_CHAMPS3_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ADRLIV_CHAMPS3_ATTRIBUT" value="CLT_RS"/>
		<add key="EXPORT_ADRLIV_CHAMPS4_GUILLEMETS" value="O"/>
		<add key="EXPORT_ADRLIV_CHAMPS4_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ADRLIV_CHAMPS4_ATTRIBUT" value="CLT_ADRLIV_RUE1+2"/>

		<add key="EXPORT_ADRLIV_CHAMPS5_GUILLEMETS" value="O"/>
		<add key="EXPORT_ADRLIV_CHAMPS5_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ADRLIV_CHAMPS5_ATTRIBUT" value="CLT_ADRLIV_CP"/>

		<add key="EXPORT_ADRLIV_CHAMPS6_GUILLEMETS" value="O"/>
		<add key="EXPORT_ADRLIV_CHAMPS6_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ADRLIV_CHAMPS6_ATTRIBUT" value="CLT_ADRLIV_VILLE"/>

		<add key="EXPORT_ADRLIV_CHAMPS7_GUILLEMETS" value="O"/>
		<add key="EXPORT_ADRLIV_CHAMPS7_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ADRLIV_CHAMPS7_ATTRIBUT" value="CLT_ADRLIV_TEL"/>

		<add key="EXPORT_ADRLIV_CHAMPS8_GUILLEMETS" value="O"/>
		<add key="EXPORT_ADRLIV_CHAMPS8_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ADRLIV_CHAMPS8_ATTRIBUT" value="CLT_ADRLIV_FAX"/>

		<add key="EXPORT_ADRFACT_NOMBRE" value="8"/>
		<add key="EXPORT_ADRFACT_CHAMPS1_GUILLEMETS" value="N"/>
		<add key="EXPORT_ADRFACT_CHAMPS1_VALEUR" value="^"/>
		<add key="EXPORT_ADRFACT_CHAMPS2_GUILLEMETS" value="N"/>
		<add key="EXPORT_ADRFACT_CHAMPS2_VALEUR" value="10"/>
		<add key="EXPORT_ADRFACT_CHAMPS3_GUILLEMETS" value="O"/>
		<add key="EXPORT_ADRFACT_CHAMPS3_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ADRFACT_CHAMPS3_ATTRIBUT" value="CLT_RS"/>
		<add key="EXPORT_ADRFACT_CHAMPS4_GUILLEMETS" value="O"/>
		<add key="EXPORT_ADRFACT_CHAMPS4_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ADRFACT_CHAMPS4_ATTRIBUT" value="CLT_ADRFACT_RUE1+2"/>

		<add key="EXPORT_ADRFACT_CHAMPS5_GUILLEMETS" value="O"/>
		<add key="EXPORT_ADRFACT_CHAMPS5_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ADRFACT_CHAMPS5_ATTRIBUT" value="CLT_ADRFACT_CP"/>

		<add key="EXPORT_ADRFACT_CHAMPS6_GUILLEMETS" value="O"/>
		<add key="EXPORT_ADRFACT_CHAMPS6_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ADRFACT_CHAMPS6_ATTRIBUT" value="CLT_ADRFACT_VILLE"/>

		<add key="EXPORT_ADRFACT_CHAMPS7_GUILLEMETS" value="O"/>
		<add key="EXPORT_ADRFACT_CHAMPS7_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ADRFACT_CHAMPS7_ATTRIBUT" value="CLT_ADRFACT_TEL"/>

		<add key="EXPORT_ADRFACT_CHAMPS8_GUILLEMETS" value="O"/>
		<add key="EXPORT_ADRFACT_CHAMPS8_VALEUR" value="ATTRIBUT"/>
		<add key="EXPORT_ADRFACT_CHAMPS8_ATTRIBUT" value="CLT_ADRFACT_FAX"/>
		
		<add key="EXPORT_CODE_TRANSPORT" value="TRANSPORT"/>
		<add key="EXPORT_CODE_GAZOLE" value="GAZOLE"/>

		<!-- Parametrage de l'import Internet -->
		<add key="IMPORT_DIRECTORY" value="exportInternet"/>
		<add key="IMPORT_IDSCMD" value="1"/>
		<add key="IMPORT_REFFACTFOURN" value="1"/>
		<add key="IMPORT_DATEFACTFOURN" value="2"/>
		<add key="IMPORT_TOTALHTFACTURE" value="3"/>
		<add key="IMPORT_TOTALTTCFACTURE" value="4"/>
   <add key="EXPORTFTP_FILENAME" value="fromVinicom.csv"/>
   <add key="IMPORTFTP_FILENAME" value="toVinicom.csv"/>
 </appSettings>
	

	
	
	
 <userSettings>
  <vini_app.My.MySettings>
   <setting name="bCommVisible" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="frmGestSCMD_COL1_WIDTH" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="frmGestSCMD_COL2_WIDTH" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="frmGestSCMD_COL3_WIDTH" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="frmGestSCMD_COL4_WIDTH" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="frmGestSCMD_COL5_WIDTH" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="frmGestSCMD_COL6_WIDTH" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="frmGestSCMD_COL7_WIDTH" serializeAs="String">
    <value>15</value>
   </setting>
  </vini_app.My.MySettings>
 </userSettings>
 <applicationSettings>
  <vini_app.My.MySettings>
   <setting name="PathToReport" serializeAs="String">
    <value>.\</value>
   </setting>
   <setting name="dbGlobalConnection" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="dbDataSource" serializeAs="String">
    <value>ANTEC\SQLEXPRESS</value>
   </setting>
   <setting name="ReportCnxUser" serializeAs="String">
    <value>vinicom</value>
   </setting>
   <setting name="ReportCnxPassword" serializeAs="String">
    <value>vinicom</value>
   </setting>
   <setting name="AppVersion" serializeAs="String">
    <value>5.9.0</value>
   </setting>
   <setting name="PreCommandeFolder" serializeAs="String">
    <value>Settings</value>
   </setting>
   <setting name="SMTPPort" serializeAs="String">
    <value>587</value>
   </setting>
   <setting name="SMTPuser" serializeAs="String">
    <value>marccollin.com@gmail.com</value>
   </setting>
   <setting name="SMTPpassword" serializeAs="String">
    <value>tphhgv3.</value>
   </setting>
   <setting name="SMTPbSSL" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SMTPHost" serializeAs="String">
    <value>smtp.googlemail.com</value>
   </setting>
   <setting name="ImapHost" serializeAs="String">
    <value>imap.gmail.com</value>
   </setting>
   <setting name="ImapUser" serializeAs="String">
    <value>marccollintest@gmail.com</value>
   </setting>
   <setting name="ImapPassword" serializeAs="String">
    <value>tphhgv3..</value>
   </setting>
   <setting name="ImapPort" serializeAs="String">
    <value>993</value>
   </setting>
   <setting name="ImapSSL" serializeAs="String">
    <value>true</value>
   </setting>
   <setting name="ImapMSGFolder" serializeAs="String">
    <value>MSGTRAITES</value>
   </setting>
   <setting name="ImapNsec" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="ConnectionString" serializeAs="String">
    <value>Provider=SQLOLEDB.1;Data Source=localhost\SQLEXPRESS;Initial Catalog=vnc5;Persist Security Info=True;User ID=vinicom;Password=vinicom</value>
   </setting>
  </vini_app.My.MySettings>
 </applicationSettings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Services" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
