<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="vini_test.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="vini_test.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <vini_test.My.MySettings>
      <setting name="bTrace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dbGlobalConnection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dbProvider" serializeAs="String">
        <value>Microsoft.Jet.OLEDB.4.0</value>
      </setting>
      <setting name="dbDataSource" serializeAs="String">
        <value>ANTEC\SQLEXPRESS</value>
      </setting>
      <setting name="ReportCnxUser" serializeAs="String">
        <value>vinicom</value>
      </setting>
      <setting name="ReportCnxPassword" serializeAs="String">
        <value>vinicom</value>
      </setting>
      <setting name="AppVersion" serializeAs="String">
        <value>5.2.0</value>
      </setting>
      <setting name="PathToReport" serializeAs="String">
        <value>F:\Mesdocuments\Newco\vincom\V5_SVN\gestcom\vini_app\bin\Debug</value>
      </setting>
    </vini_test.My.MySettings>
  </userSettings>
  <applicationSettings>
    <vini_test.My.MySettings>
      <setting name="ImapHost" serializeAs="String">
        <value>imap.google.com</value>
      </setting>
      <setting name="ImapUser" serializeAs="String">
        <value>marccollintest@gmail.com</value>
      </setting>
      <setting name="ImapPassword" serializeAs="String">
        <value>tphhgv3..</value>
      </setting>
      <setting name="ImapSSL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImapMSGFolder" serializeAs="String">
        <value>MSGTRAITES</value>
      </setting>
      <setting name="ImapPort" serializeAs="String">
        <value>993</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Provider=SQLOLEDB.1;Data Source=localhost\SQLEXPRESS;Initial Catalog=vnc520190402;Persist Security Info=True;User ID=vinicom;Password=vinicom</value>
      </setting>
    </vini_test.My.MySettings>
  </applicationSettings>
</configuration>
