 		<!--   COMMANDE TRP- shortResumeTRP -->
		<add key="LISTCMDTRP_COLS" value="6" />
		<add key="LISTCMDTRP_COL0" value="500" /> <!-- code Commande-->
		<add key="LISTCMDTRP_COL1" value="500" /> <!-- code Client-->
		<add key="LISTCMDTRP_COL2" value="1500" /> <!-- rs Client-->
		<add key="LISTCMDTRP_COL3" value="1000" /> <!-- date Livraison -->
		<add key="LISTCMDTRP_COL4" value="1000" /> <!-- MontantTransport -->
		<add key="LISTCMDTRP_COL5" value="0" />
		
		<!-- RECHERCHEDB - Liste des factures de transport -->
		<add key="RECHERCHEDB_FCTTRP_COLS" value="6" />
		<add key="RECHERCHEDB_FCTTRP_COL0" value="750" />
		<add key="RECHERCHEDB_FCTTRP_COL1" value="3000" />

		<add key="RECHERCHEDB_FCTTRP_COL2" value="1000" />
		<add key="RECHERCHEDB_FCTTRP_COL3" value="1000" />
		<add key="RECHERCHEDB_FCTTRP_COL4" value="1000" />
		<add key="RECHERCHEDB_FCTTRP_COL5" value="0" />

		<!-- Parametrage de l'export Maxima -->
		<add key="EXPORT_ENTETE_NOMBRE" value="28" />
		<add key="EXPORT_ENTETE_CHAMPS1_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS1_VALEUR" value="*" />
		
		<add key="EXPORT_ENTETE_CHAMPS2_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS2_VALEUR" value="30" />
		
		<add key="EXPORT_ENTETE_CHAMPS3_GUILLEMETS" value="O" />
		<add key="EXPORT_ENTETE_CHAMPS3_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ENTETE_CHAMPS3_ATTRIBUT" value="FTRP_CODE" />
		
		<add key="EXPORT_ENTETE_CHAMPS4_GUILLEMETS" value="O" />
		<add key="EXPORT_ENTETE_CHAMPS4_VALEUR" value="" />

		<add key="EXPORT_ENTETE_CHAMPS5_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS5_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ENTETE_CHAMPS5_ATTRIBUT" value="FTRP_DATE" />

		<add key="EXPORT_ENTETE_CHAMPS6_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS6_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ENTETE_CHAMPS6_ATTRIBUT" value="FTRP_DATE" />

		<add key="EXPORT_ENTETE_CHAMPS7_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS7_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ENTETE_CHAMPS7_ATTRIBUT" value="FTRP_DATE" />

		<add key="EXPORT_ENTETE_CHAMPS8_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS8_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ENTETE_CHAMPS8_ATTRIBUT" value="FTRP_DATE" />

		<add key="EXPORT_ENTETE_CHAMPS9_GUILLEMETS" value="O" />
		<add key="EXPORT_ENTETE_CHAMPS9_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ENTETE_CHAMPS9_ATTRIBUT" value="CLT_CODE" />

		<add key="EXPORT_ENTETE_CHAMPS10_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS10_VALEUR" value="" />

		<add key="EXPORT_ENTETE_CHAMPS11_GUILLEMETS" value="O" />
		<add key="EXPORT_ENTETE_CHAMPS11_VALEUR" value="Dépot principal" />

		<add key="EXPORT_ENTETE_CHAMPS12_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS12_VALEUR" value="0" />
		
		<add key="EXPORT_ENTETE_CHAMPS13_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS13_VALEUR" value="" />
		
		<add key="EXPORT_ENTETE_CHAMPS14_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS14_VALEUR" value="" />
		
		<add key="EXPORT_ENTETE_CHAMPS15_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS15_VALEUR" value="" />
		
		<add key="EXPORT_ENTETE_CHAMPS16_GUILLEMETS" value="O" />
		<add key="EXPORT_ENTETE_CHAMPS16_VALEUR" value="Droit d'enregistrement" />
		
		<add key="EXPORT_ENTETE_CHAMPS17_GUILLEMETS" value="O" />
		<add key="EXPORT_ENTETE_CHAMPS17_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ENTETE_CHAMPS17_ATTRIBUT" value="LIB_MODEREGLEMENT" />
		
		<add key="EXPORT_ENTETE_CHAMPS18_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS18_VALEUR" value="0" />
		
		<add key="EXPORT_ENTETE_CHAMPS19_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS19_VALEUR" value="0" />
		
		<add key="EXPORT_ENTETE_CHAMPS20_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS20_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ENTETE_CHAMPS20_ATTRIBUT" value="FTRP_TOTAL_TAXES" />

		<add key="EXPORT_ENTETE_CHAMPS21_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS21_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ENTETE_CHAMPS20_ATTRIBUT" value="LIB_TAUXTVA" />

		<add key="EXPORT_ENTETE_CHAMPS22_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS22_VALEUR" value="EUR" />

		<add key="EXPORT_ENTETE_CHAMPS23_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS23_VALEUR" value="1" />

		<add key="EXPORT_ENTETE_CHAMPS24_GUILLEMETS" value="O" />
		<add key="EXPORT_ENTETE_CHAMPS24_VALEUR" value="" />

		<add key="EXPORT_ENTETE_CHAMPS25_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS25_VALEUR" value="" />

		<add key="EXPORT_ENTETE_CHAMPS26_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS26_VALEUR" value="N" />

		<add key="EXPORT_ENTETE_CHAMPS27_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS27_VALEUR" value="" />
		
		<add key="EXPORT_ENTETE_CHAMPS28_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS28_VALEUR" value="" />
		
		<add key="EXPORT_ENTETE_CHAMPS29_GUILLEMETS" value="N" />
		<add key="EXPORT_ENTETE_CHAMPS29_VALEUR" value="1" />

		<add key="EXPORT_LIGNE_NOMBRE" value="19" />
		<add key="EXPORT_LIGNE_CHAMPS1_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS1_VALEUR" value="A" />
		
		<add key="EXPORT_LIGNE_CHAMPS2_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS2_VALEUR" value="0" />
		
		<add key="EXPORT_LIGNE_CHAMPS3_GUILLEMETS" value="O" />
		<add key="EXPORT_LIGNE_CHAMPS3_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_LIGNE_CHAMPS3_ATTRIBUT" value="LGTRP_CODEMAXIMA" />

		<add key="EXPORT_LIGNE_CHAMPS4_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS4_VALEUR" value="0" />

		<add key="EXPORT_LIGNE_CHAMPS5_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS5_VALEUR" value="" />

		<add key="EXPORT_LIGNE_CHAMPS6_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS6_VALEUR" value="0" />

		<add key="EXPORT_LIGNE_CHAMPS7_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS7_VALEUR" value="1" />

		<add key="EXPORT_LIGNE_CHAMPS8_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS8_VALEUR" value="0" />
		<add key="EXPORT_LIGNE_CHAMPS9_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS9_VALEUR" value="0" />
		<add key="EXPORT_LIGNE_CHAMPS10_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS10_VALEUR" value="0" />
		<add key="EXPORT_LIGNE_CHAMPS11_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS11_VALEUR" value="0" />
		
		<add key="EXPORT_LIGNE_CHAMPS12_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS12_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_LIGNE_CHAMPS12_ATTRIBUT" value="LGTRP_MT_HT" />

		<add key="EXPORT_LIGNE_CHAMPS13_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS13_VALEUR" value="0" />

		<add key="EXPORT_LIGNE_CHAMPS14_GUILLEMETS" value="O" />
		<add key="EXPORT_LIGNE_CHAMPS14_VALEUR" value="Taux Normal" />

		<add key="EXPORT_LIGNE_CHAMPS15_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS15_VALEUR" value="" />
		
		<add key="EXPORT_LIGNE_CHAMPS16_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS16_VALEUR" value="" />
		<add key="EXPORT_LIGNE_CHAMPS17_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS17_VALEUR" value="0" />
		<add key="EXPORT_LIGNE_CHAMPS18_GUILLEMETS" value="N" />
		<add key="EXPORT_LIGNE_CHAMPS18_VALEUR" value="0" />

		<add key="EXPORT_LIGNE_CHAMPS19_GUILLEMETS" value="O" />
		<add key="EXPORT_LIGNE_CHAMPS19_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_LIGNE_CHAMPS19_ATTRIBUT" value="LGTRP_RESUME" />

		<add key="EXPORT_ADRLIV_NOMBRE" value="8" />
		<add key="EXPORT_ADRLIV_CHAMPS1_GUILLEMETS" value="N" />
		<add key="EXPORT_ADRLIV_CHAMPS1_VALEUR" value="^" />
		<add key="EXPORT_ADRLIV_CHAMPS2_GUILLEMETS" value="N" />
		<add key="EXPORT_ADRLIV_CHAMPS2_VALEUR" value="0" />
		<add key="EXPORT_ADRLIV_CHAMPS3_GUILLEMETS" value="O" />
		<add key="EXPORT_ADRLIV_CHAMPS3_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ADRLIV_CHAMPS3_ATTRIBUT" value="CLT_RS" />
		<add key="EXPORT_ADRLIV_CHAMPS4_GUILLEMETS" value="O" />
		<add key="EXPORT_ADRLIV_CHAMPS4_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ADRLIV_CHAMPS4_ATTRIBUT" value="CLT_ADRLIV_RUE1+2" />

		<add key="EXPORT_ADRLIV_CHAMPS5_GUILLEMETS" value="O" />
		<add key="EXPORT_ADRLIV_CHAMPS5_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ADRLIV_CHAMPS5_ATTRIBUT" value="CLT_ADRLIV_CP" />

		<add key="EXPORT_ADRLIV_CHAMPS6_GUILLEMETS" value="O" />
		<add key="EXPORT_ADRLIV_CHAMPS6_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ADRLIV_CHAMPS6_ATTRIBUT" value="CLT_ADRLIV_VILLE" />

		<add key="EXPORT_ADRLIV_CHAMPS7_GUILLEMETS" value="O" />
		<add key="EXPORT_ADRLIV_CHAMPS7_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ADRLIV_CHAMPS7_ATTRIBUT" value="CLT_ADRLIV_TEL" />

		<add key="EXPORT_ADRLIV_CHAMPS8_GUILLEMETS" value="O" />
		<add key="EXPORT_ADRLIV_CHAMPS8_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ADRLIV_CHAMPS8_ATTRIBUT" value="CLT_ADRLIV_FAX" />

		<add key="EXPORT_ADRFACT_NOMBRE" value="8" />
		<add key="EXPORT_ADRFACT_CHAMPS1_GUILLEMETS" value="N" />
		<add key="EXPORT_ADRFACT_CHAMPS1_VALEUR" value="^" />
		<add key="EXPORT_ADRFACT_CHAMPS2_GUILLEMETS" value="N" />
		<add key="EXPORT_ADRFACT_CHAMPS2_VALEUR" value="10" />
		<add key="EXPORT_ADRFACT_CHAMPS3_GUILLEMETS" value="O" />
		<add key="EXPORT_ADRFACT_CHAMPS3_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ADRFACT_CHAMPS3_ATTRIBUT" value="CLT_RS" />
		<add key="EXPORT_ADRFACT_CHAMPS4_GUILLEMETS" value="O" />
		<add key="EXPORT_ADRFACT_CHAMPS4_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ADRFACT_CHAMPS4_ATTRIBUT" value="CLT_ADRFACT_RUE1+2" />

		<add key="EXPORT_ADRFACT_CHAMPS5_GUILLEMETS" value="O" />
		<add key="EXPORT_ADRFACT_CHAMPS5_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ADRFACT_CHAMPS5_ATTRIBUT" value="CLT_ADRFACT_CP" />

		<add key="EXPORT_ADRFACT_CHAMPS6_GUILLEMETS" value="O" />
		<add key="EXPORT_ADRFACT_CHAMPS6_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ADRFACT_CHAMPS6_ATTRIBUT" value="CLT_ADRFACT_VILLE" />

		<add key="EXPORT_ADRFACT_CHAMPS7_GUILLEMETS" value="O" />
		<add key="EXPORT_ADRFACT_CHAMPS7_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ADRFACT_CHAMPS7_ATTRIBUT" value="CLT_ADRFACT_TEL" />

		<add key="EXPORT_ADRFACT_CHAMPS8_GUILLEMETS" value="O" />
		<add key="EXPORT_ADRFACT_CHAMPS8_VALEUR" value="ATTRIBUT" />
		<add key="EXPORT_ADRFACT_CHAMPS8_ATTRIBUT" value="CLT_ADRFACT_FAX" />
		
		<add key="EXPORT_CODE_TRANSPORT" value="TRANSPORT" />
		<add key="EXPORT_CODE_GAZOLE" value="GAZOLE" />
